.initial-layout {
    background: no-repeat center center fixed;
    background-size: cover;
    color: white !important;
    min-height: calc(100vh - 62px - 2px);
}

.initial-layout input {
    color: white !important;
}

.initial-layout fieldset {
    border-color: #d2d2d2 !important;
}

.initial-layout .MuiFormHelperText-root.error {
    color: #ef5350;
}

.initial-layout button:disabled {
    color: rgba(0, 0, 0, 0.26);
    box-shadow: none;
    background-color: rgba(180, 179, 179, 0.12);
}